<link rel="stylesheet" href="/assets/css/password.css">
<%- include('../partials/_navbar.ejs') %>

<form action="/auth/password?_method=PUT" method="POST">
  <div class="current-password">
    <label for="currentPassword">Current Password</label>
    <input type="password" id="currentPassword" name="currentPassword">
  </div>
  <br>
  <div class="new-password">
    <label for="newPassword">New Password</label>
    <input type="password" name="newPassword" id="newPassword">
  </div>

  <div class="confirm-new-password">
    <label for="confirmNewPassword">confirm New Password</label>
    <input type="password" name="confirmNewPassword" id="confirmNewPassword">
  </div>

    <button type="submit">Change Password</button>
</form>