<link rel="stylesheet" href="/assets/css/signup.css">

<%- include('../partials/_authNav.ejs') %>
<h1>Sign-up</h1>
<form action="/auth/signup" method="POST">
  <fieldset class="names">
    <label for="firstName">First Name</label>
    <input type="text" name="firstName" id="firstName" />
  
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName" id="lastName" />
  </fieldset>

  <label for="username">Username</label>
  <input type="text" name="username" id="username" />

  <label for="email">email</label>
  <input type="email" name="email" id="email" />
  <br>
  <label for="password">Password</label>
  <input type="password" name="password" id="password" />

  <label for="confirmPassword">Confirm Password</label>
  <input type="password" name="confirmPassword" id="onfirmPassword" />

  <div class="commercial">
    <input type="checkbox" name="commercial" id="commercial" />
    <label for="commercial">Are you a commercial user?</label>
  </div>

  <button type="submit">Signup</button>
</form>