<link rel="stylesheet" href="/assets/css/signin.css">
  <%- include('../partials/_authNav.ejs') %>
  <form method="POST" class="signin-form">
    <label for="usernameOrEmail">Username or Email</label>
    <input type="text" name="usernameOrEmail" id="usernameOrEmail" />
    <br />

    <label for="password">Password</label>
    <input type="password" name="password" id="password" />
    <br />
    <button type="submit">Signin</button>
  </form>
