form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 50vh;
}

label {
  display: block;
  text-align: center;
}

input {
  border-radius: .5rem;
  height: 2rem;
}