.user-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

input, button {
  border: 2px black dashed;
  border-radius: .4rem;
}

input:focus {
  outline: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 300px;
  justify-self: center;
  align-self: center;
  margin-bottom: 0;
}

input, button {
  height: 2rem;
  height: 2rem;
}

button {
  width: 150px;
  align-self: center;
  background-color: var(--primary-theme-color);
}