<link rel="stylesheet" href="/assets/css/products/new.css">
<%- include('../partials/_navbar.ejs') %>
<form action="/products/new" method="POST">
  <div class="title">
    <label for="title">Product Title</label>
    <input type="text" name="title" id="title" />
  </div>
  
  <div class="quantity-price">
    <div class="quantity">
      <label for="quantity">Quantity</label>
      <input type="number" name="quantity" id="quiantity" />
    </div>
    <div class="price">
      <label for="price">Price</label>
      <input type="number" name="price" id="price" />
    </div>
  </div>

  <div class="shortDesc">
    <label for="shortDesc">Short Description</label>
    <textarea name="shortDesc" id="shortDesc"></textarea>
  </div>
  <div class="categories"></div>
  <button type="submit">Add Product</button>
</form>