<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sign-up</h1>
    <form>
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <br />

      <label for="name">email:</label>
      <input type="email" name="email" id="email" />
      <br />

      <label for="name">Phone:</label>
      <input type="tel" name="phone" id="phone" />
      <br />

      <label for="name">Description:</label>
      <textarea name="description" id="description"></textarea>
      <br />

      <label for="name">Name</label>
      <input type="text" name="name" id="name" />
      <br />
    </form>
  </body>
</html>
